<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>스프링 부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">메인</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/best">메뉴추천</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/insert">메뉴넣기</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/see">메뉴보기</a>
        </li>
    </ul>
</nav>
